POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=bytechat

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bytechat
DB_USER=postgres
DB_PASSWORD=root

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pangasyamsundar1805@gmail.com
MAIL_PASSWORD=jprorjnnluawjceo

CLOUDINARY_CLOUD_NAME=dxkoeutlb
CLOUDINARY_API_KEY=678825641375837
CLOUDINARY_API_SECRET=uS9TJsgwuD4uL0TVZengOAuNW8s
